In [ ]:
# if you run the notebook in colab and have stored the data in google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

path = "/content/drive/MyDrive/signal_20_obligatory1_train.tsv.gz"
df = pd.read_csv(
    path, 
    compression='gzip',
    delimiter="\t"
)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75141 entries, 0 to 75140
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   source  75141 non-null  object
 1   text    75141 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [ ]:
df.source.value_counts()

MyInforms                       17210
Individual.com                   5416
4 Traders                        3959
NewsR.in                         3600
Reuters                          3496
Mail Online UK                   3439
App.ViralNewsChart.com           3219
Latest Nigerian News.com         3206
Yahoo! Finance                   3067
Town Hall                        2842
EIN News                         2774
Yahoo! News Australia            2694
Marketplace                      2679
Financial Content                2646
Wall Street Business Network     2605
Fat Pitch Financials             2582
Bloomberg                        2554
Market Pulse Navigator           2449
Uncova                           2378
BioSpace                         2326
Name: source, dtype: int64

In [ ]:
df.source.value_counts() / len(df)

MyInforms                       0.229036
Individual.com                  0.072078
4 Traders                       0.052688
NewsR.in                        0.047910
Reuters                         0.046526
Mail Online UK                  0.045767
App.ViralNewsChart.com          0.042839
Latest Nigerian News.com        0.042666
Yahoo! Finance                  0.040817
Town Hall                       0.037822
EIN News                        0.036917
Yahoo! News Australia           0.035853
Marketplace                     0.035653
Financial Content               0.035214
Wall Street Business Network    0.034668
Fat Pitch Financials            0.034362
Bloomberg                       0.033989
Market Pulse Navigator          0.032592
Uncova                          0.031647
BioSpace                        0.030955
Name: source, dtype: float64

In [ ]:
df["n_words"] = df.text.str.split(" ").apply(len)

In [ ]:
df["txt_len"] = df.text.apply(len)

In [ ]:
df["avg_word_len"] = (df["txt_len"] / df["n_words"]).round(2)

In [ ]:
df[df.source == "BioSpace"]

,source,text,n_words,txt_len,avg_word_len
100,BioSpace,Stock_PROPN market_VERB xml_PROPN Json_PROPN d...,48,560,11.67
107,BioSpace,New_PROPN York_PROPN sept_VERB 10_NUM 2015_NUM...,640,8047,12.57
110,BioSpace,CBS_PROPN ArcSafe_PROPN r_PROPN RRS-3_NUM Hk_P...,237,2921,12.32
211,BioSpace,Guided_VERB Therapeutics_PROPN Inc_PROPN OTCQB...,482,5913,12.27
216,BioSpace,Washington_NUM sept_NOUN 14_NUM 2015_NUM /PRNe...,137,1635,11.93
...,...,...,...,...,...
74915,BioSpace,Chelmsford_PROPN Mass.-_NOUN Sep_PROPN 9_NUM 2...,438,5679,12.97
74963,BioSpace,/PRNewswire/_NOUN world_NOUN Psychiatric_ADJ a...,249,3156,12.67
74970,BioSpace,15:55_NUM pm_PROPN Edt_PROPN hedge_NOUN fund_A...,29,335,11.55
75013,BioSpace,Greenbelt_PROPN Md_VERB sept_NOUN 9_NUM 2015_N...,108,1377,12.75
75061,BioSpace,close_ADJ collaboration_NOUN TSMC_NUM yield_NO...,278,3408,12.26

In [ ]:
modlog = {
    "model_name": "four_hidden_layers-vanilla_vec", "train_time": 300.96197986602783, "f1_score": 0.46647180094447493, "accuracy": 96.16394805908203, 
    "clf_rep": {
        "NewsR.in": {"precision": 0.9173387096774194, "recall": 0.8425925925925926, "f1-score": 0.8783783783783784, "support": 540}, 
        "MyInforms": {"precision": 0.7678434382194935, "recall": 0.7749806351665376, "f1-score": 0.771395528141866, "support": 2582}, 
        "Town Hall": {"precision": 0.1593625498007968, "recall": 0.09389671361502347, "f1-score": 0.11816838995568685, "support": 426}, 
        "Yahoo! News Australia": {"precision": 0.7029411764705882, "recall": 0.5915841584158416, "f1-score": 0.6424731182795698, "support": 404}, 
        "Individual.com": {"precision": 0.699859747545582, "recall": 0.6137761377613776, "f1-score": 0.653997378768021, "support": 813}, 
        "BioSpace": {"precision": 0.07471264367816093, "recall": 0.03724928366762178, "f1-score": 0.0497131931166348, "support": 349}, 
        "Latest Nigerian News.com": {"precision": 0.6933962264150944, "recall": 0.6112266112266113, "f1-score": 0.6497237569060774, "support": 481}, 
        "Fat Pitch Financials": {"precision": 0.24873096446700507, "recall": 0.12661498708010335, "f1-score": 0.1678082191780822, "support": 387}, 
        "Bloomberg": {"precision": 0.49206349206349204, "recall": 0.3237597911227154, "f1-score": 0.3905511811023622, "support": 383}, 
        "Yahoo! Finance": {"precision": 0.573943661971831, "recall": 0.35434782608695653, "f1-score": 0.43817204301075263, "support": 460}, 
        "EIN News": {"precision": 0.9347258485639687, "recall": 0.8605769230769231, "f1-score": 0.8961201501877347, "support": 416}, 
        "Reuters": {"precision": 0.6087962962962963, "recall": 0.5019083969465649, "f1-score": 0.5502092050209205, "support": 524}, 
        "App.ViralNewsChart.com": {"precision": 0.9513742071881607, "recall": 0.9316770186335404, "f1-score": 0.9414225941422595, "support": 483}, 
        "Mail Online UK": {"precision": 0.8317307692307693, "recall": 0.6705426356589147, "f1-score": 0.7424892703862661, "support": 516}, 
        "Financial Content": {"precision": 0.14022140221402213, "recall": 0.09571788413098237, "f1-score": 0.11377245508982035, "support": 397}, 
        "Marketplace": {"precision": 0.13709677419354838, "recall": 0.0845771144278607, "f1-score": 0.10461538461538462, "support": 402}, 
        "Uncova": {"precision": 0.6370106761565836, "recall": 0.5014005602240896, "f1-score": 0.561128526645768, "support": 357}, 
        "4 Traders": {"precision": 0.579520697167756, "recall": 0.4478114478114478, "f1-score": 0.5052231718898386, "support": 594}, 
        "Wall Street Business Network": {"precision": 0.10837438423645321, "recall": 0.056265984654731455, "f1-score": 0.07407407407407407, "support": 391}, 
        "Market Pulse Navigator": {"precision": 0.12021857923497267, "recall": 0.05994550408719346, "f1-score": 0.07999999999999999, "support": 367}, 
        
        "micro avg": {"precision": 0.6443979749064495, "recall": 0.5194286728176012, "f1-score": 0.57520385106592, "support": 11272}, 
        "macro avg": {"precision": 0.5189631122395997, "recall": 0.4290226103193815, "f1-score": 0.46647180094447493, "support": 11272}, 
        "weighted avg": {"precision": 0.5919618913432062, "recall": 0.5194286728176012, "f1-score": 0.5499036566743154, "support": 11272}, 
        "samples avg": {"precision": 0.5136621717530163, "recall": 0.5194286728176012, "f1-score": 0.5155843387745447, "support": 11272}},
         
    "accum_train_loss": [0.1187644898891449, 0.08891592919826508, 0.07011394202709198, 0.051442522555589676, 0.04432753846049309, 0.0382198840379715, 0.025161197409033775, 0.022967606782913208, 0.02241523005068302, 0.014801020734012127, 0.017654351890087128, 0.010611137375235558, 0.017006494104862213, 0.012448595836758614, 0.008063199929893017, 0.010801250115036964, 0.007880301214754581, 0.009497694671154022, 0.004659540485590696, 0.0032686905469745398], 
    "accum_val_loss": [0.1187644898891449, 0.08891592919826508, 0.07011394202709198, 0.051442522555589676, 0.04432753846049309, 0.0382198840379715, 0.025161197409033775, 0.022967606782913208, 0.02241523005068302, 0.014801020734012127, 0.017654351890087128, 0.010611137375235558, 0.017006494104862213, 0.012448595836758614, 0.008063199929893017, 0.010801250115036964, 0.007880301214754581, 0.009497694671154022, 0.004659540485590696, 0.0032686905469745398]}

In [ ]:
for k,v in modlog["clf_rep"].items():
  if v["f1-score"] < 0.5:
    print(k)
    print(v["f1-score"])
    print("################")

Town Hall
0.11816838995568685
################
BioSpace
0.0497131931166348
################
Fat Pitch Financials
0.1678082191780822
################
Bloomberg
0.3905511811023622
################
Yahoo! Finance
0.43817204301075263
################
Financial Content
0.11377245508982035
################
Marketplace
0.10461538461538462
################
Wall Street Business Network
0.07407407407407407
################
Market Pulse Navigator
0.07999999999999999
################
macro avg
0.46647180094447493
################

In [ ]:
df.groupby("source", as_index=False).agg(
    avg_doc_len=("n_words", "mean"),
    min_doc_len=("n_words", "min"),
    max_doc_len=("n_words", "max")
).round(2)

                          source  avg_doc_len  min_doc_len  max_doc_len
0                      4 Traders       300.47           21         1011
1         App.ViralNewsChart.com        49.59           14          112
2                       BioSpace       310.58           14          831
3                      Bloomberg       289.47            7          797
4                       EIN News       115.99           19          789
5           Fat Pitch Financials       266.71           14          803
6              Financial Content       279.61            7          918
7                 Individual.com       225.08           10          713
8       Latest Nigerian News.com        96.16            1          698
9                 Mail Online UK       353.57           11          890
10        Market Pulse Navigator       272.47           12          853
11                   Marketplace       264.90           12          981
12                     MyInforms       183.39            8         1008
13                      NewsR.in        70.01           11          726
14                       Reuters       298.95            9          906
15                     Town Hall       252.11           10          923
16                        Uncova       180.40           12          735
17  Wall Street Business Network       253.91           10          853
18                Yahoo! Finance       310.67           13         1000
19         Yahoo! News Australia       182.09           12          665

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cvect = CountVectorizer(min_df=0.03, max_df=0.95)

df = pd.read_csv(
    path, 
    compression='gzip',
    delimiter="\t"
)

df2transform = df.copy()

df2transform["text"] = df2transform.text.str.replace(
    r'(\s|^)[\d\-\+\=\.\,]+\_NUM', ' numb_mask ', regex=True
)
df2transform["text"] = df2transform["text"].str.replace(r'\b\d+\b', " numb_mask ", regex=True)
bow_arr = cvect.fit_transform(df2transform["text"]).toarray()

In [ ]:
df_bow = pd.DataFrame(data=bow_arr, columns=cvect.get_feature_names_out())

In [ ]:
df_bow["numb_mask"]

0         3
1         4
2         4
3         3
4         1
         ..
75136     1
75137    70
75138     1
75139    14
75140     0
Name: numb_mask, Length: 75141, dtype: int64

In [ ]:
df_bow

,00_num,15_num,2015_num,29_adj,_adj,_noun,_propn,_sym,_verb,ability_noun,...,world,world_noun,write_verb,www,year,year_adj,year_noun,yet_adv,york_propn,young_adj
0,0,0,0,0,0,4,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,4,0,0,0,0,4,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75136,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75137,0,0,0,0,0,2,0,29,0,0,...,0,0,0,0,0,0,1,0,0,0
75138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75139,0,0,0,0,0,8,1,0,0,0,...,1,0,0,1,0,0,1,0,0,0
75140,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [ ]:
df_bow[df_bow["2015_num"] > 0]

,00_num,15_num,2015_num,29_adj,_adj,_noun,_propn,_sym,_verb,ability_noun,...,world,world_noun,write_verb,www,year,year_adj,year_noun,yet_adv,york_propn,young_adj
12,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75074,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75121,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75124,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75131,6,0,6,0,1,8,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
75133,0,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df2transform.loc[75074, "text"]

'publish_VERB music_ADJ Feeds_NOUN discover_ADJ approx_NOUN numb_mask  hour_NOUN  numb_mask / numb_mask /2015_NUM  numb_mask :46_NUM am_PROPN Utc_PROPN categorise_VERB music_ADJ category_NOUN stat_NOUN clear_ADJ reach_VERB high_ADJ rank_ADJ numb_mask  so_ADV far_ADV rank_VERB numb_mask  month_NOUN share_VERB approx_NOUN numb_mask  user_NOUN first_ADJ hour_NOUN track_VERB post_NOUN numb_mask  hr_NOUN post_NOUN become_VERB inactive_ADJ  numb_mask / numb_mask /2015_NUM  numb_mask :46_NUM am_PROPN Utc_PROPN'

In [ ]:
df.loc[75137, "text"]

'Pr_PROPN Newswire_PROPN Austin_PROPN Texa_NOUN sept_NOUNnumb_masknumb_mask Austin_NOUN Texa_NOUN sept_VERBnumb_masknumb_mask /PRNewswire/_NOUN --Intere_ADJ rate_NOUN new_ADJ credit_NOUN card_NOUN soffe_NOUN still_ADV move_VERB CreditCards.com_NOUN Weekly_ADV Credit_VERB card_NOUN rate_ADJ report_NOUN average_NOUN comprise_VERBnumb_mask much_ADV popular_ADJ credit_NOUN card_NOUN country_NOUN include_VERB cards_ADV dozen_NOUN lead_VERB U.S_PROPN issuer_NOUN represent_VERB card_NOUN category_NOUN Introductory_NOUN teaser_NOUN rate_NOUN include_VERB calculation_NOUN rate_NOUN card_NOUN category_NOUN track_VERB CreditCards.com_PROPN list_VERB below_ADV Credit_VERB card_PROPN rate_ADJ Average_PROPN Avg_NOUN Apr_ADV last_ADV week_VERBnumb_mask months_NOUN national_ADJ average_NOUN numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM low_VERB inter_ADJ numb_mask.numb_mask%_NOUN numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM balance_PROPN Transfer_PROPN numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM business_NOUN numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM Student_NOUN numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM cash_NOUN Back_ADV numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM Airline_VERB numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM Reward_PROPN numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM instant_ADJ approval_PROPN numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM bad_ADJ Credit_NOUN numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM numb_mask.numb_mask%_SYM Update_VERBnumb_mask 13th_ADJ week_NOUN row_NOUN national_ADJ average_NOUN annual_ADJ percentage_NOUN rate_NOUN remain_VERB glued_VERBnumb_mask percent_NOUN credit_VERB card_NOUN issuer_NOUN decline_VERB change_VERB inter_ADJ rate_NOUN advertised_ADJ card_NOUNnumb_mask card_NOUN monitore_VERB week_ADV CreditCards.com_PROPN single_ADJ card_NOUN advertise_VERB new_ADJ rate_NOUN annual_ADJ fee_NOUN week_NOUN inter_ADJ rate_NOUN remain_VERB place_NOUN record_NOUN number_NOUN week_NOUN year_NOUN make_VERB compar_VERB rate_NOUN very_ADV predictable_ADJ rate_NOUN exist_ADJ credit_NOUN card_NOUN change_VERB soon_ADV however_ADV Federal_ADJ reserve_NOUN announce_VERB federal_ADJ fund_NOUN rate_NOUN increase_ADJ thursday_NOUN Federal_PROPN Open_PROPN market_NOUN committee_NOUN meet_VERB potential_ADJ rate_NOUN increase_NOUN affect_VERB variable_ADJ rate_NOUN card_NOUN offer_ADJ rate_NOUN make_VERB rate_ADJ report_NOUN directly_ADV affect_VERB CreditCards.com_NOUN credit_VERB card_NOUN rate_NOUN survey_NOUN permalink_NOUN conduct_VERB week_ADV use_VERB offer_ADJ data_NOUN lead_VERB U.S_PROPN card_NOUN issuer_NOUN website_NOUN Introductory_ADJ offer_ADJ period_NOUN regular_ADJ inter_ADJ rate_NOUN vary_VERB applicant_NOUN credit_VERB quality_NOUN issuer_NOUN risk-base_VERB price_ADJ policy_NOUN CreditCards.com_PROPN CreditCards.com_PROPN lead_ADJ online_NOUN credit_VERB card_NOUN marketplace_NOUN connect_VERB consumer_NOUN multiple_NOUN credit_VERB card_NOUN issuer_NOUN include_VERB majority_NOUNnumb_mask largest_ADJ unite_PROPN States_PROPN base_VERB credit_VERB card_NOUN transaction_NOUN volume_NOUN CreditCards.com_NOUN enable_VERB consumer_NOUN search_VERB compare_VERB apply_VERB credit_NOUN card_NOUN offer_NOUN credit_VERB card_NOUN issuer_NOUN online_ADJ channel_NOUN acquire_VERB qualified_ADJ applicant_NOUN Logo_NOUN view_VERB original_ADJ version_NOUN Pr_PROPN Newswire_PROPN visit_NOUN CreditCards.co_PROPN'

In [ ]:
df.loc[75139, "text"]

'today_NOUN Awesomenesstv_PROPN lead_VERB company_NOUN serve_VERB global_ADJ generation_NOUN z_PROPN audience_NOUN introduce_VERB Wildness_NOUN new_ADJ firm_NOUN soffe_VERB research_NOUN insight_NOUN strategy_ADJ service_NOUN brand_NOUN want_VERB relevant_VERB youth_ADJ culture_NOUN use_VERB primary_ADJ research_NOUN build_VERB AwesomenessTV’s_PROPN unparalleled_ADJ experience_NOUN insight_NOUN reach_VERB influence_VERB critical_ADJ demographic_NOUN form_NOUN medium_NOUN Wildness_NOUN join_VERB force_NOUN agency_NOUN corporation_NOUN artist_NOUN writer_NOUN engineer_NOUN stakeholder_NOUN alike_ADV help_VERB brand_NOUN resonate_VERB activate_ADJ youth_NOUN culture_NOUN “Generation_NOUN z_PROPN redefin_VERB market_VERB medium_PROPN know_VERB today_NOUN It’_NOUN only_ADV logical_ADJ Awesomenesstv_PROPN take_VERB we’ve_NOUN learn_VERB builde_VERB own_ADJ brand_NOUN engage_VERB powerful_ADJ audience_NOUN launch_VERB new_ADJ business_NOUN guide_VERB marketer_NOUN do_VERB same_ADJ say_VERB Brian_PROPN Robbin_PROPN Ceo_PROPN Awesomenesstv_PROPN “Independence_NOUN key_ADJ so_ADV Wildness_NOUN ensure_VERB partner_NOUN platform-agnostic_ADJ approach_NOUN we’re_ADV thrill_VERB have_VERB Margaret_PROPN Czeisler_PROPN join_NOUN chief_NOUN Strategy_NOUN Officer_NOUN lead_VERB Wildness_NOUN Czeisler_NOUN spend_VERB career_NOUN pioneer_VERB innovative_ADJ solution_NOUN world’_NOUN lead_VERB brand_NOUN agency_NOUN executife_NOUN experiential_ADJ consumer_NOUN experience_NOUN activation_NOUN real-time_VERB market_ADJ solution_NOUN much_ADV recently_ADV serve_VERB global_PROPN Vice_PROPN president_NOUN Razorfish’_PROPN xLab_PROPN recognize_VERB today’_NOUN youth_NOUN drive_VERB cultural_ADJ change_NOUN key_NOUN sustain_ADJ business_NOUN growth_NOUN say_VERB Margaret_PROPN Czeisler_PROPN Strategy_PROPN officer_PROPN Wildness_NOUN “Wildness_NOUN bring_VERB information_NOUN analyse_NOUN experience_NOUN brand_NOUN look_VERB figure_VERB out_ADV why_ADV need_VERB reach_VERB audience_NOUN also_ADV how_ADV eactivat_VERB differentiator_NOUN we’re_ADV able_ADJ leverage_VERB AwesomenessTV’s_ADJ learning_NOUN merge_VERB unique_ADJ insight_NOUN youth_ADJ culture_NOUN derive_VERB proprietary_ADJ research_NOUN Wildness_NOUN encompass_VERB team_NOUN cultural_ADJ engineer_NOUN develop_VERB custom_NOUN solution_NOUN create_VERB targeted_ADJ authentic_ADJ engagement_NOUN brand_NOUN fan_NOUN work_VERB platform_NOUN partner_NOUN Wildness’_NOUN service_NOUN filter_VERB unique_ADJ perspective_NOUN expertise_VERB youth_ADJ culture_NOUN Gen_NUM z_PROPN Primary_PROPN research_NOUN Finding_NOUN Wildness_NOUN release_VERB preliminary_ADJ result_NOUN exhaustive_ADJ sweep_ADJ mixed-method_NOUN research_VERB study_NOUN generation_NOUN z_NOUN study_NOUN encompass_VERB nationwide_ADJ survey_NOUN 3,_NUM 000_NUM respondent_NOUN age_NOUN 12_NUM 24_NUM in-depth_ADJ interview_NOUN teen_NOUN parent_NOUN teacher_NOUN eight_NUM U.S_NOUN city_NOUN average_VERB three_NUM hour_NOUN per_NOUN interview_NOUN yield_VERB treasure_NOUN trove_NOUN data_NOUN insight_NOUN key_NOUN finding_NOUN include_VERB generation_NOUN z_PROPN interact_VERB brand_NOUN retailer_NOUN celebrity_NOUN entertainment_VERB surprise_ADJ way_NOUN Wildness_NOUN refer_VERB generation_PROPN z_PROPN ‘Culture_ADJ Collaborators’_NOUN seek_VERB out_ADV partner_NOUN co-create_VERB connect_VERB reward_VERB leave_VERB only_ADV one_NUM device_NOUN zero_ADV out_ADV 10_NUM choose_VERB keep_VERB television_NOUN 31_NUM percent_NOUN watch_VERB favorite_NOUN brand_NOUN YouTube_NOUN 30_NUM percent_NOUN follow_VERB favorite_ADJ brand_NOUN view_VERB post_NOUN social_ADJ medium_NOUN nine_VERB out_ADV 10_NUM watch_NOUN YouTube_VERB daily_ADV generation_PROPN z_PROPN tend_NOUN connect_VERB 24/7_NUM real_ADJ life_NOUN experience_VERB still_ADV rule_NOUN “snap_VERB “gram”_NOUN “fav”_NOUN 88_NUM percent_NOUN respondent_NOUN take_VERB intentional_ADJ digital_ADJ break_NOUN generation_NOUN z_PROPN have_VERB consistent_ADJ stance_NOUN cruelty_NOUN kind_NOUN top_NOUN 3_NUM social_ADJ issue_NOUN animal_ADJ cruelty_NOUN cyber-bully_VERB discrimination_NOUN prejudice_NOUN Wildness_NOUN also_ADV release_VERB “Wildness_NOUN issue_PROPN one_NUM first_ADJ issue_NOUN publication_NOUN feature_VERB late_ADJ insight_NOUN mixed-method_NOUN study_NOUN examine_VERB 12_NUM 24_NUM year_NOUN olds’_NOUN attitude_NOUN behavior_NOUN relationship_NOUN technology_VERB commerce_NOUN culture_NOUN medium_NOUN Wildness_NOUN observe_VERB daily_ADV life_NOUN ritual_NOUN practice_NOUN order_NOUN create_VERB comprehensive_ADJ picture_NOUN generation_NOUN team_NOUN also_ADV capture_VERB storie_NOUN power_NOUN film_NOUN far_ADJ examine_NOUN generation’s_VERB idea_NOUN connection_NOUN everyday_NOUN object_NOUN define_VERB Wildness_VERB issue_PROPN 1_NUM available_ADJ purchase_NOUN www.thewildness.com_NOUN Wildness_ADJ Wildness_NOUN provide_VERB research_NOUN insight_NOUN strategy_ADJ service_NOUN brand_NOUN want_VERB relevant_ADJ meaningfully_ADJ engage_NOUN youth_ADJ culture_NOUN Wildness_NOUN division_NOUN Awesomenesstv_PROPN jointly_ADV ow_ADJ property_NOUN DreamWork_NOUN animation_NOUN NASDAQ_NOUN Dwa_PROPN Hearst_ADJ Corporation_NOUN learn_VERB very_ADV please_INTJ visit_ADJ thewildness.co_NOUN four_NUM percent_NOUN select_VERB keep_VERB television_NOUN view_VERB version_NOUN'

In [ ]:
df.loc[0, "text"].replace(r'(\d+\_NUM)', 'numb')

'Adeboye_PROPN Amosu_PROPN Tanzania_PROPN coach_NOUN Charles_NOUN Mkwasa_PROPN declare_VERB side’_NOUN readiness_NOUN take_VERB on_ADV Nigeria_PROPN weekend’_NOUN 2017_NUM african_ADJ cup_NOUN qualifier_NOUN bill_VERB national_ADJ stadium_NOUN Dar_PROPN e_PROPN Salaam_PROPN Taifa_NOUN star_NOUN perfect_VERB strategy_NOUN Turkey_PROPN past_ADJ one_NUM week_NOUN ahead_NOUN crucial_ADJ clash_NOUN where_ADV play_VERB high-profile_NOUN friend_ADV Libya_PROPN last_ADV Friday_ADV training_NOUN hel_VERB build_VERB stamina_NOUN team_NOUN now_ADV maintain_VERB high_ADJ tempo_NOUN play_NOUN long_ADJ press_VERB forward_ADV unit_NOUN strike_VERB good_ADJ sign_NOUN plan_NOUN Nigeria”_NOUN tell_VERB Tanzania_PROPN Federation_NOUN official_ADJ tactician_NOUN also_ADV praise_VERB Turkey_PROPN camp_NOUN say_VERB give_VERB conducive_ADJ environment_NOUN fully_ADV implement_VERB train_VERB program_NOUN physical_ADJ technical_ADJ aspect_NOUN well_ADV bring_VERB cohesion_NOUN whole_ADJ team_NOUN ”It’_NOUN really_ADV nice_ADV out_ADV here_ADV Turkey_PROPN training_NOUN facility_NOUN one_NUM good_ADJ get_VERB anywhere_ADV world_NOUN want_VERB give_VERB kudo_NOUN Federation_NOUN make_VERB possible_ADJ train_VERB wonderful_ADJ environment_NOUN have_VERB here_ADV Turkey_PROPN ”In_PROPN time_NOUN here_ADV work_VERB lot_NOUN thing_NOUN help_VERB day_NOUN match_NOUN Tanzania_PROPN lose_VERB open_VERB game_NOUN qualify_ADJ series_NOUN egypt_PROPN 3-0_NUM Nigeria_PROPN beat_NOUN 2-0_NUM Kaduna_PROPN post_NOUN appear_VERB first_ADV complete_PROPN sport_PROPN Nigeria_PROPN'

In [ ]:
ex = df.loc[0, "text"]

In [ ]:
"_NUM" in ex

True

In [ ]:
import re

In [ ]:
re.sub("(\d+\_NUM)", "[NUM]", ex)

'Adeboye_PROPN Amosu_PROPN Tanzania_PROPN coach_NOUN Charles_NOUN Mkwasa_PROPN declare_VERB side’_NOUN readiness_NOUN take_VERB on_ADV Nigeria_PROPN weekend’_NOUN [NUM] african_ADJ cup_NOUN qualifier_NOUN bill_VERB national_ADJ stadium_NOUN Dar_PROPN e_PROPN Salaam_PROPN Taifa_NOUN star_NOUN perfect_VERB strategy_NOUN Turkey_PROPN past_ADJ one_NUM week_NOUN ahead_NOUN crucial_ADJ clash_NOUN where_ADV play_VERB high-profile_NOUN friend_ADV Libya_PROPN last_ADV Friday_ADV training_NOUN hel_VERB build_VERB stamina_NOUN team_NOUN now_ADV maintain_VERB high_ADJ tempo_NOUN play_NOUN long_ADJ press_VERB forward_ADV unit_NOUN strike_VERB good_ADJ sign_NOUN plan_NOUN Nigeria”_NOUN tell_VERB Tanzania_PROPN Federation_NOUN official_ADJ tactician_NOUN also_ADV praise_VERB Turkey_PROPN camp_NOUN say_VERB give_VERB conducive_ADJ environment_NOUN fully_ADV implement_VERB train_VERB program_NOUN physical_ADJ technical_ADJ aspect_NOUN well_ADV bring_VERB cohesion_NOUN whole_ADJ team_NOUN ”It’_NOUN really_ADV nice_ADV out_ADV here_ADV Turkey_PROPN training_NOUN facility_NOUN one_NUM good_ADJ get_VERB anywhere_ADV world_NOUN want_VERB give_VERB kudo_NOUN Federation_NOUN make_VERB possible_ADJ train_VERB wonderful_ADJ environment_NOUN have_VERB here_ADV Turkey_PROPN ”In_PROPN time_NOUN here_ADV work_VERB lot_NOUN thing_NOUN help_VERB day_NOUN match_NOUN Tanzania_PROPN lose_VERB open_VERB game_NOUN qualify_ADJ series_NOUN egypt_PROPN 3-[NUM] Nigeria_PROPN beat_NOUN 2-[NUM] Kaduna_PROPN post_NOUN appear_VERB first_ADV complete_PROPN sport_PROPN Nigeria_PROPN'

In [ ]:
re.sub(r'(\s|^)[\d\-\+\=\.\,]+\_NUM', r' NUM', ex)

'Adeboye_PROPN Amosu_PROPN Tanzania_PROPN coach_NOUN Charles_NOUN Mkwasa_PROPN declare_VERB side’_NOUN readiness_NOUN take_VERB on_ADV Nigeria_PROPN weekend’_NOUN NUM african_ADJ cup_NOUN qualifier_NOUN bill_VERB national_ADJ stadium_NOUN Dar_PROPN e_PROPN Salaam_PROPN Taifa_NOUN star_NOUN perfect_VERB strategy_NOUN Turkey_PROPN past_ADJ one_NUM week_NOUN ahead_NOUN crucial_ADJ clash_NOUN where_ADV play_VERB high-profile_NOUN friend_ADV Libya_PROPN last_ADV Friday_ADV training_NOUN hel_VERB build_VERB stamina_NOUN team_NOUN now_ADV maintain_VERB high_ADJ tempo_NOUN play_NOUN long_ADJ press_VERB forward_ADV unit_NOUN strike_VERB good_ADJ sign_NOUN plan_NOUN Nigeria”_NOUN tell_VERB Tanzania_PROPN Federation_NOUN official_ADJ tactician_NOUN also_ADV praise_VERB Turkey_PROPN camp_NOUN say_VERB give_VERB conducive_ADJ environment_NOUN fully_ADV implement_VERB train_VERB program_NOUN physical_ADJ technical_ADJ aspect_NOUN well_ADV bring_VERB cohesion_NOUN whole_ADJ team_NOUN ”It’_NOUN really_ADV nice_ADV out_ADV here_ADV Turkey_PROPN training_NOUN facility_NOUN one_NUM good_ADJ get_VERB anywhere_ADV world_NOUN want_VERB give_VERB kudo_NOUN Federation_NOUN make_VERB possible_ADJ train_VERB wonderful_ADJ environment_NOUN have_VERB here_ADV Turkey_PROPN ”In_PROPN time_NOUN here_ADV work_VERB lot_NOUN thing_NOUN help_VERB day_NOUN match_NOUN Tanzania_PROPN lose_VERB open_VERB game_NOUN qualify_ADJ series_NOUN egypt_PROPN NUM Nigeria_PROPN beat_NOUN NUM Kaduna_PROPN post_NOUN appear_VERB first_ADV complete_PROPN sport_PROPN Nigeria_PROPN'

In [ ]:
ex

'Adeboye_PROPN Amosu_PROPN Tanzania_PROPN coach_NOUN Charles_NOUN Mkwasa_PROPN declare_VERB side’_NOUN readiness_NOUN take_VERB on_ADV Nigeria_PROPN weekend’_NOUN 2017_NUM african_ADJ cup_NOUN qualifier_NOUN bill_VERB national_ADJ stadium_NOUN Dar_PROPN e_PROPN Salaam_PROPN Taifa_NOUN star_NOUN perfect_VERB strategy_NOUN Turkey_PROPN past_ADJ one_NUM week_NOUN ahead_NOUN crucial_ADJ clash_NOUN where_ADV play_VERB high-profile_NOUN friend_ADV Libya_PROPN last_ADV Friday_ADV training_NOUN hel_VERB build_VERB stamina_NOUN team_NOUN now_ADV maintain_VERB high_ADJ tempo_NOUN play_NOUN long_ADJ press_VERB forward_ADV unit_NOUN strike_VERB good_ADJ sign_NOUN plan_NOUN Nigeria”_NOUN tell_VERB Tanzania_PROPN Federation_NOUN official_ADJ tactician_NOUN also_ADV praise_VERB Turkey_PROPN camp_NOUN say_VERB give_VERB conducive_ADJ environment_NOUN fully_ADV implement_VERB train_VERB program_NOUN physical_ADJ technical_ADJ aspect_NOUN well_ADV bring_VERB cohesion_NOUN whole_ADJ team_NOUN ”It’_NOUN really_ADV nice_ADV out_ADV here_ADV Turkey_PROPN training_NOUN facility_NOUN one_NUM good_ADJ get_VERB anywhere_ADV world_NOUN want_VERB give_VERB kudo_NOUN Federation_NOUN make_VERB possible_ADJ train_VERB wonderful_ADJ environment_NOUN have_VERB here_ADV Turkey_PROPN ”In_PROPN time_NOUN here_ADV work_VERB lot_NOUN thing_NOUN help_VERB day_NOUN match_NOUN Tanzania_PROPN lose_VERB open_VERB game_NOUN qualify_ADJ series_NOUN egypt_PROPN 3-0_NUM Nigeria_PROPN beat_NOUN 2-0_NUM Kaduna_PROPN post_NOUN appear_VERB first_ADV complete_PROPN sport_PROPN Nigeria_PROPN'

In [ ]:
modlog = {
    "model_name": "four_hidden_layers-vanilla_vec", "train_time": 300.96197986602783, "f1_score": 0.46647180094447493, "accuracy": 96.16394805908203, 
    "clf_rep": {
        "NewsR.in": {"precision": 0.9173387096774194, "recall": 0.8425925925925926, "f1-score": 0.8783783783783784, "support": 540}, 
        "MyInforms": {"precision": 0.7678434382194935, "recall": 0.7749806351665376, "f1-score": 0.771395528141866, "support": 2582}, 
        "Town Hall": {"precision": 0.1593625498007968, "recall": 0.09389671361502347, "f1-score": 0.11816838995568685, "support": 426}, 
        "Yahoo! News Australia": {"precision": 0.7029411764705882, "recall": 0.5915841584158416, "f1-score": 0.6424731182795698, "support": 404}, 
        "Individual.com": {"precision": 0.699859747545582, "recall": 0.6137761377613776, "f1-score": 0.653997378768021, "support": 813}, 
        "BioSpace": {"precision": 0.07471264367816093, "recall": 0.03724928366762178, "f1-score": 0.0497131931166348, "support": 349}, 
        "Latest Nigerian News.com": {"precision": 0.6933962264150944, "recall": 0.6112266112266113, "f1-score": 0.6497237569060774, "support": 481}, 
        "Fat Pitch Financials": {"precision": 0.24873096446700507, "recall": 0.12661498708010335, "f1-score": 0.1678082191780822, "support": 387}, 
        "Bloomberg": {"precision": 0.49206349206349204, "recall": 0.3237597911227154, "f1-score": 0.3905511811023622, "support": 383}, 
        "Yahoo! Finance": {"precision": 0.573943661971831, "recall": 0.35434782608695653, "f1-score": 0.43817204301075263, "support": 460}, 
        "EIN News": {"precision": 0.9347258485639687, "recall": 0.8605769230769231, "f1-score": 0.8961201501877347, "support": 416}, 
        "Reuters": {"precision": 0.6087962962962963, "recall": 0.5019083969465649, "f1-score": 0.5502092050209205, "support": 524}, 
        "App.ViralNewsChart.com": {"precision": 0.9513742071881607, "recall": 0.9316770186335404, "f1-score": 0.9414225941422595, "support": 483}, 
        "Mail Online UK": {"precision": 0.8317307692307693, "recall": 0.6705426356589147, "f1-score": 0.7424892703862661, "support": 516}, 
        "Financial Content": {"precision": 0.14022140221402213, "recall": 0.09571788413098237, "f1-score": 0.11377245508982035, "support": 397}, 
        "Marketplace": {"precision": 0.13709677419354838, "recall": 0.0845771144278607, "f1-score": 0.10461538461538462, "support": 402}, 
        "Uncova": {"precision": 0.6370106761565836, "recall": 0.5014005602240896, "f1-score": 0.561128526645768, "support": 357}, 
        "4 Traders": {"precision": 0.579520697167756, "recall": 0.4478114478114478, "f1-score": 0.5052231718898386, "support": 594}, 
        "Wall Street Business Network": {"precision": 0.10837438423645321, "recall": 0.056265984654731455, "f1-score": 0.07407407407407407, "support": 391}, 
        "Market Pulse Navigator": {"precision": 0.12021857923497267, "recall": 0.05994550408719346, "f1-score": 0.07999999999999999, "support": 367}, 
        
        "micro avg": {"precision": 0.6443979749064495, "recall": 0.5194286728176012, "f1-score": 0.57520385106592, "support": 11272}, 
        "macro avg": {"precision": 0.5189631122395997, "recall": 0.4290226103193815, "f1-score": 0.46647180094447493, "support": 11272}, 
        "weighted avg": {"precision": 0.5919618913432062, "recall": 0.5194286728176012, "f1-score": 0.5499036566743154, "support": 11272}, 
        "samples avg": {"precision": 0.5136621717530163, "recall": 0.5194286728176012, "f1-score": 0.5155843387745447, "support": 11272}},
         
    "accum_train_loss": [0.1187644898891449, 0.08891592919826508, 0.07011394202709198, 0.051442522555589676, 0.04432753846049309, 0.0382198840379715, 0.025161197409033775, 0.022967606782913208, 0.02241523005068302, 0.014801020734012127, 0.017654351890087128, 0.010611137375235558, 0.017006494104862213, 0.012448595836758614, 0.008063199929893017, 0.010801250115036964, 0.007880301214754581, 0.009497694671154022, 0.004659540485590696, 0.0032686905469745398], 
    "accum_val_loss": [0.1187644898891449, 0.08891592919826508, 0.07011394202709198, 0.051442522555589676, 0.04432753846049309, 0.0382198840379715, 0.025161197409033775, 0.022967606782913208, 0.02241523005068302, 0.014801020734012127, 0.017654351890087128, 0.010611137375235558, 0.017006494104862213, 0.012448595836758614, 0.008063199929893017, 0.010801250115036964, 0.007880301214754581, 0.009497694671154022, 0.004659540485590696, 0.0032686905469745398]}

Town Hall
0.11816838995568685
################
BioSpace
0.0497131931166348
################
Fat Pitch Financials
0.1678082191780822
################
Bloomberg
0.3905511811023622
################
Yahoo! Finance
0.43817204301075263
################
Financial Content
0.11377245508982035
################
Marketplace
0.10461538461538462
################
Wall Street Business Network
0.07407407407407407
################
Market Pulse Navigator
0.07999999999999999
################
macro avg
0.46647180094447493
################

         source                                               text
100    BioSpace  Stock_PROPN market_VERB xml_PROPN Json_PROPN d...
107    BioSpace  New_PROPN York_PROPN sept_VERBnumb_masknumb_ma...
110    BioSpace  CBS_PROPN ArcSafe_PROPN r_PROPN RRS-numb_mask_...
211    BioSpace  Guided_VERB Therapeutics_PROPN Inc_PROPN OTCQB...
216    BioSpace  Washington_NUM sept_NOUNnumb_masknumb_mask /PR...
...         ...                                                ...
74915  BioSpace  Chelmsford_PROPN Mass.-_NOUN Sep_PROPNnumb_mas...
74963  BioSpace  /PRNewswire/_NOUN world_NOUN Psychiatric_ADJ a...
74970  BioSpace  numb_mask:numb_mask_NUM pm_PROPN Edt_PROPN hed...
75013  BioSpace  Greenbelt_PROPN Md_VERB sept_NOUNnumb_masknumb...
75061  BioSpace  close_ADJ collaboration_NOUN TSMC_NUM yield_NO...

[2326 rows x 2 columns]