In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sample.tsv")

In [4]:
df = df[["source", "text"]]

In [7]:
df = df.sample(n=500)

In [8]:
df

,source,text
8423,MyInforms,Caitlyn_PROPN Jenner_PROPN discuss_VERB fatal_...
5738,App.ViralNewsChart.com,day_NOUN seemingly_ADV impossible_ADJ feat_NOU...
5790,MyInforms,new_ADJ report_NOUN U.S_NOUN Center_NOUN disea...
2274,MyInforms,Season_NOUN 5_NUM ‘Scandal’_NOUN go_VERB full_...
258,Yahoo! News Australia,Saudi_PROPN k_VERB sanction_NOUN group_NOUN de...
...,...,...
5491,App.ViralNewsChart.com,first_ADV image_NOUN walk_ADJ Dead_ADJ Season_...
3548,MyInforms,democratic_ADJ Chattanooga_PROPN Andy_PROPN Be...
363,App.ViralNewsChart.com,Robert_VERB unite_PROPN States_PROPN increase_...
520,Wall Street Business Network,/PRNewswire/_NOUN lead_VERB industry_NOUN evol...
2990,4 Traders,Holmdel_ADV N.J._PROPN sept_VERB 1_NUM 2015_NU...

In [9]:
df.to_csv("small_test.csv", sep="\t")